* {
  margin: 0;
  padding: 0;
}

/*
组件：按钮组
*/
.ButtonBase {
  position: relative;
  border:none;
  text-align: center;
  opacity: 0.8;

  &.active{
    opacity: 1;
}
  &.Button_mouse_enter{
    opacity: 0.9;
  }
  &:hover{
    opacity: 0.9;
  }
}
/*button-type*/
.button_type {

  background: #61dafb;
  border-radius: 2px;
  color: #000;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.button_type_normal{
  background: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.button_type_primary{

  background: #8d63dd;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

/*button_size*/
.button_size{
  line-height: 20px;
  width: 40px;
  height: 20px;
}
.button_size_small{
  line-height: 20px;
  width: 30px;
  height: 20px;
}
.button_size_normal{
  line-height: 30px;
  width: 50px;
  height: 30px;
}